<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Expense Detail</title>
</head>
<body>
    <h1>Job Expense Detail</h1>

    <p>Item Detail: {{ object.item_detail }}</p>
    <p>Quantity: {{ object.quantity }}</p>
    <p>Unit Price: {{ object.unit_price }}</p>
    <p>Total: {{ object.total }}</p>
    <p>Note: {{ object.note }}</p>
    <a href="{% url 'job-expense-update' object.pk %}">Edit</a>
    <a href="{% url 'job-expense-list' %}">Back to Expense List</a>
</body>
</html>
